body {
    background: url("../images/LighteningBoltBackground.jpg");
}

.container {
    margin-top: 40px;
    background: white; 
    width: 70%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    margin: 20px;
}

.displayquestion {
    line-height: 2;
}



